@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

.container {
    background-color: #fff;
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

h1 {
    justify-content: center;
    color: #3b5998;
    font-size: 2.125rem;
    display: flex;
    align-items: center;
}

h1 i {
    margin-right: 10px;
}

.description {
    margin-bottom: 20px;
    color: #555;
    font-size: 1rem;
}

.input-group {
    justify-content: center;
    display: flex;
    margin: 20px 0;
}

input[type="text"] {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    font-size: 1rem;
    width: 70%;
}

input[type="text"]::placeholder {
    font-family: 'Montserrat', sans-serif;
    color: #999;
    font-size: 0.875rem;
    opacity: 1;
}

button {
    background-color: #f39c12;
    padding: 10px 20px;
    margin-left: 10px;
    border: none;
    color: #fff;
    font-size: 1rem;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

button i {
    margin-right: 5px;
}

button:hover {
    background-color: #e67e22;
}

.note {
    font-size: 0.875rem;
    color: #666;
}

.instructions {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    font-size: 1rem;
}

.instructions h2 {
    justify-content: center;
    align-items: center;
    color: #3b5998;
    font-size: 1.25rem;
    display: flex;
    margin-bottom: 10px;
}

.instructions ol {
    text-align: left;
    color: #555;
}

.instructions ol li {
    margin: 10px 0;
}

.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 1rem;
}

.close {
    font-size: 1.75rem;
    color: #aaa;
    float: right;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#modal-title {
    margin-bottom: 10px;
}

@media (max-width: 769px) {
    .container, .instructions {
        padding: 10px;
        margin: 20px;
    }

    .input-group {
        flex-direction: column;
        align-items: stretch;
    }

    input[type="text"], button {
        box-sizing: border-box;
        width: 100%;
        margin: 5px 0;
    }

    .modal-content {
        width: 90%;
        padding: 10px;
    }

    body {
        font-size: 14px;
    }

    h1 {
        font-size: 1.7rem;
    }

    .description, input[type="text"], button, .instructions, .modal-content {
        font-size: 0.875;
    }

    .instructions h2 {
        font-size: 1.125rem;
    }

    .close {
        font-size: 1.5rem;
    }
}